/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */

.rojo{
    color: red;
}

.oferta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: red;
    border-radius: 50%;
    border: 8px solid rgb(101, 15, 15);
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.oferta h4{
    font-size: 50px;
    margin: 0px;
}